## Notebook to create figures for the EGU presentation

In [1]:
# Import necessary packages

import numpy as np
import xarray as xr
import pandas as pd

import matplotlib.pyplot as plt

In [8]:
# Import necessary data

results_NoRegres = pd.read_csv('/Users/iriskeizer/Documents/Wind effect/Data/observations/Regression results/Dewi/Results_NoRegressor.csv', index_col = 'time')
results_NodaTide = pd.read_csv('/Users/iriskeizer/Documents/Wind effect/Data/observations/Regression results/Dewi/Results_NodalTide.csv', index_col = 'time')
results_NearPoin = pd.read_csv('/Users/iriskeizer/Documents/Wind effect/Data/observations/Regression results/Dewi/Results_NearestPointAverage.csv', index_col = 'time')
results_PresDiff = pd.read_csv('/Users/iriskeizer/Documents/Wind effect/Data/observations/Regression results/Dewi/Results_PressureDifference.csv', index_col = 'time')

In [6]:
results_NoRegres

,one,trend,total,trend_se,trend_se_squared,rate_slr,rate_slr_se
time,,,,,,,
1890,-5.616454,-5.616454,-11.232908,0.613742,0.376679,NaN,NaN
1891,-5.616454,-5.342238,-10.958693,0.518338,0.268674,NaN,NaN
1892,-5.616454,-5.072089,-10.688543,0.435324,0.189507,NaN,NaN
1893,-5.616454,-4.805933,-10.422387,0.368104,0.135501,NaN,NaN
1894,-5.616454,-4.543695,-10.160150,0.321357,0.103270,NaN,NaN
...,...,...,...,...,...,...,...
2016,-5.616454,20.449805,14.833351,1.043329,1.088535,NaN,NaN
2017,-5.616454,20.769582,15.153128,1.096071,1.201373,NaN,NaN
2018,-5.616454,21.093845,15.477391,1.157208,1.339130,NaN,NaN
2019,-5.616454,21.422654,15.806200,1.226884,1.505244,NaN,NaN
2020,-5.616454,21.756072,16.139618,1.305159,1.703441,NaN,NaN

In [9]:
results_NodaTide

,nod1,nod2,trend,total,trend_se,trend_se_squared,total_nodal,rate_slr,rate_slr_se
time,,,,,,,,,
1890,1.086063,0.000000,-11.893819,-10.807755,1.172957,1.375829,1.086063,NaN,NaN
1891,1.024768,0.334684,-11.565460,-10.206009,1.080210,1.166853,1.359452,NaN,NaN
1892,0.847802,0.631590,-11.243519,-9.764127,0.994442,0.988915,1.479392,NaN,NaN
1893,0.575141,0.857205,-10.927876,-9.495530,0.915745,0.838588,1.432345,NaN,NaN
1894,0.237560,0.986063,-10.618412,-9.394789,0.844221,0.712709,1.223622,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2016,0.132478,-1.002987,15.033634,14.163125,0.844221,0.712709,-0.870509,NaN,NaN
2017,0.482014,-0.905556,15.359708,14.936165,0.915745,0.838588,-0.423542,NaN,NaN
2018,0.777142,-0.705910,15.690090,15.761322,0.994442,0.988915,0.071232,NaN,NaN
2019,0.984551,-0.426585,16.024832,16.582798,1.080210,1.166853,0.557966,NaN,NaN
2020,1.080827,-0.099108,16.363984,17.345703,1.172957,1.375829,0.981719,NaN,NaN

In [10]:
results_NearPoin

,nod1,nod2,u2_mean,trend,total,trend_se,trend_se_squared,total_nodal,total_wind,rate_slr,rate_slr_se
time,,,,,,,,,,,
1890,1.166859,0.000000,1.220005,-13.820043,-11.433179,0.776890,0.603558,1.166859,1.220005,NaN,NaN
1891,1.101004,0.287387,2.535848,-13.638662,-9.714423,0.720171,0.518646,1.388391,2.535848,NaN,NaN
1892,0.910873,0.542335,0.581930,-13.457120,-11.421982,0.668536,0.446941,1.453208,0.581930,NaN,NaN
1893,0.617927,0.736067,2.820039,-13.275440,-9.101407,0.622065,0.386965,1.353994,2.820039,NaN,NaN
1894,0.255232,0.846715,1.563214,-13.093648,-10.428486,0.580822,0.337354,1.101947,1.563214,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2016,0.142334,-0.861248,3.157564,10.479552,12.918202,0.650527,0.423186,-0.718914,3.157564,NaN,NaN
2017,0.517872,-0.777585,7.440221,10.898766,18.079273,0.686645,0.471481,-0.259713,7.440221,NaN,NaN
2018,0.834956,-0.606153,1.910048,11.328557,13.467408,0.727939,0.529895,0.228804,1.910048,NaN,NaN
2019,1.057794,-0.366301,4.810138,11.769121,17.270753,0.774454,0.599779,0.691494,4.810138,NaN,NaN
2020,1.161233,-0.085102,7.030096,12.220651,20.326879,0.826196,0.682600,1.076131,7.030096,NaN,NaN

In [11]:
results_PresDiff

,nod1,nod2,pressure_diff,trend,total,trend_se,trend_se_squared,total_nodal,total_wind,rate_slr,rate_slr_se
time,,,,,,,,,,,
1890,0.988989,0.000000,-1.278608,-9.568700,-9.858319,0.979230,0.958892,0.988989,-1.278608,NaN,NaN
1891,0.933173,0.311966,-1.260068,-9.365321,-9.380250,0.903812,0.816875,1.245139,-1.260068,NaN,NaN
1892,0.772024,0.588719,-2.704375,-9.162455,-10.506086,0.833997,0.695551,1.360744,-2.704375,NaN,NaN
1893,0.523733,0.799021,-1.778385,-8.960115,-9.415745,0.769840,0.592654,1.322754,-1.778385,NaN,NaN
1894,0.216326,0.919132,-1.386395,-8.758311,-9.009248,0.711403,0.506094,1.135458,-1.386395,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2016,0.120637,-0.934908,-0.310770,14.677806,13.552765,0.677309,0.458748,-0.814271,-0.310770,NaN,NaN
2017,0.438931,-0.844090,2.251004,15.044507,16.890351,0.734212,0.539067,-0.405160,2.251004,NaN,NaN
2018,0.707680,-0.657996,-2.423267,15.419661,13.046079,0.796916,0.635076,0.049684,-2.423267,NaN,NaN
2019,0.896550,-0.397629,0.768203,15.803426,17.070549,0.865342,0.748817,0.498920,0.768203,NaN,NaN
2020,0.984221,-0.092381,3.465537,16.195958,20.553335,0.939417,0.882505,0.891840,3.465537,NaN,NaN